services:
  api:
    build: 
      context: .
      dockerfile: Dockerfile
    image: retail-churn-api
    ports:
      - "8000:8000"

  dashboard:
    build:
      context: .
      dockerfile: Dockerfile.dashboard
    image: retail-churn-dashboard
    ports:
      - "8501:8501"
    depends_on:
      - api